<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuentosnios">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Selector de libro -->
        <activity
            android:name=".Select_book_activity"
            android:exported="false" />

        <!-- Cuento -->
        <activity
            android:name=".BookActivity"
            android:exported="false" />

        <!-- PANTALLA INICIAL -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
